# This file will be symlinked to from /lib/systemd/system/

[Unit]
Description=Service for a Python script that listens to Tableau Server webhooks
After=syslog.target network.target

[Service]
Type=simple
# User=biztory-cron
WorkingDirectory=/opt/tableau-server-webhooks-to-slack
ExecStart=/opt/tableau-server-webhooks-to-slack/.venv/bin/python -u /opt/tableau-server-webhooks-to-slack/tableau_server_webhooks_to_slack.py
Restart=always
# EnvironmentFile=/etc/sysconfig/fooservice.env

[Install]
WantedBy=multi-user.target
